

<body onload = "onload()">
<h1>Load Unit</h1>
<ul>
    {{#each Units}}
        <div class = "dataCard">
            <table class = "target">
                <tr class = "TargetName">
                    <td class = "name" colspan = 2>
                        <a href = "/load?unitName={{this.attackerName}}%5Fvs%5F{{this.defenderName}}"><h1>{{this.defenderName}}</h1></a>
                    </td>
                </tr>
                <tr class = "TargetLabels">
                    <td class = "tLabel">
                        <p>T</p>
                    </td>
                    <td class = "tLabel">
                        <p>SV</p>
                    </td>
                </tr>
                <tr class = "TargetStats">
                    <td>
                        <div class = "tStat">
                            <p>{{this.toughness}}</p>
                        </div>
                        
                    </td>
                    <td>
                        <div class = "tStat">
                             <p>{{this.save}}</p>
                        </div>
                    </td>
                </tr>
            </table>
            <h3>VS</h3>
            <table>
                <tr class = "TargetName" >
                    <td colspan = 5 class = "name aName">
                        <a href = "/load?unitName={{this.attackerName}}%5Fvs%5F{{this.defenderName}}"><h1>{{this.attackerName}}</h1></a>
                    </td>
                </tr>
                <tr class = "WeaponLabels">
                    <td>
                        <p>WEAPON</p>
                    </td>
                    <td>
                        <p>A</p>
                    </td>
                    <td>
                        <p>WS</p>
                    </td>
                    <td>
                        <p>S</p>
                    </td>
                    <td>
                        <p>AP</p>
                    </td>
                </tr>   
                <tr class = "WeaponInfo">
                    <td></td>
                    <td class = "wStat">
                        {{this.attacks}}
                    </td>
                    <td class = "wStat">
                        {{this.ws}}
                    </td>
                    <td class = "wStat">
                        {{this.strength}}
                    </td>
                    <td class = "wStat">
                        {{this.ap}}
                    </td>
                </tr>   
            </table>
        </div>
        <br>
        <br>
    {{/each}}
</ul>


<script src="
https://cdn.jsdelivr.net/npm/chart.js@4.4.4/dist/chart.umd.min.js
"></script>

<script src = "view.js"></script>
<script src="https://d3js.org/d3.v4.js"></script>
<link rel = "stylesheet" href = "view.css">

</body>